
<section class="wrapper">
    <div class="center-content">
        <h1 class="text-center">{{"Change password"}}</h1>
        <br>
    <form #f="ngForm"  (ngSubmit)="onSubmit(f)" class="form">

    <ng-container>
      <section class="u-margin-top-bottom-small">
        <h4 class="heading-fourth">Change password</h4>
      </section>

      <ng-container>
        <mat-form-field class="full-width">
          <mat-label>Current password</mat-label>
          <input required [type]="hide2 ? 'password' : 'text'" ngModel matInput name="current_password"
                 >
          <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
    </ng-container>

      <ng-container>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input required [type]="hide ? 'password' : 'text'" ngModel matInput name="password"
                 >
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
    </ng-container>


      <ng-container>
        <mat-form-field class="full-width">
          <mat-label>Password confirm</mat-label>
          <input required [type]="hide1 ? 'password' : 'text'" ngModel matInput name="password_confirm"
                 >
          <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
    </mat-form-field>

      </ng-container>

    </ng-container>

    <div class="actions">
        <button class="discuss-lesson-btn" [disabled]="f.invalid" mat-button type="submit">{{'Save'}}</button>
    </div>
    </form>
    </div>
    
</section>




