.wrapper{
    display: flex;
    background-color:#f1f5f9;
    justify-content: center;
    padding: 5rem 0;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

.file-icon{
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.images{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:5px;

    .image{
        margin:5px;
        position: relative;
        mat-icon{
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.54);
        }
        .image-selected{
            width: 100%;
            max-width: 250px;
            height: 250px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

.filename{
    cursor: pointer;
}


.file-list-wrapper{
    margin-top: 0.5rem;
}
.file-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem;
    padding-bottom: 2rem;

    border: 1px solid rgba(0, 0, 0, 0.3);

    .l-left{
        width: 90%;
        min-width: 10rem;

    }
    .l-right{
        width: 10%;
        min-width: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
}

.spacer{
    flex: 1 1 auto;
}

.error-label{
    color: firebrick;
}

.center-content{
    width: 75%;
    max-width: 75%;
    min-width: 75%;
    background-color: white;
    border-radius: 5px;
    padding: 3rem;
    /*border: 1px solid #cecaca;*/
}

@media only screen and (max-width:800px){
    .center-content{
        width: 85%;
        max-width: 85%;
        min-width: 85%;
    }
}

@media only screen and (max-width:590px){
    .center-content{
        width: 95%;
        max-width: 95%;
        min-width: 95%;
    }
}



.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid dodgerblue;
    border-color: dodgerblue transparent dodgerblue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.actions {
    margin-top: 12px;
    padding: 8px;
    height: 40px;
}
.actions .mark-complete-btn, .discuss-lesson-btn{
    background-color: dodgerblue;
    color: white;
}

.discuss-lesson-btn{
    background-color: dodgerblue;
    color: white;
    float: right;
}

.group-row-field{
    margin-top: 30px;
}

mat-form-field{
    width: 100%;
}

.text-center{
    text-align: center;
}

.example-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

label{
    font-weight: 550;
}

.quiz-score-card{
    width: 98%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 3px;
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partial-score-detail{
    width: 98%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 3px;
    background-color: #a77f14;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 12px;
}
.final-score-detail {
    width: 98%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 3px;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 8px; 
}

.final-score-detail span{
    color:white;
    font-weight: 13px;
    font-weight: 500;
}

.partial-score-detail span{
    color:white;
    font-weight: 13px;
    font-weight: 500;
}

.back-success{
    background-color:forestgreen;
    color:white; 
}

.back-good{
    background-color:lightgreen;
    color:black; 
}

.back-averrage{
    background-color:tan;
    color:black; 
}

.back-faild{
    background-color:rgb(221, 22, 7);
    color:white; 
}

.content-bold{
    font-weight: 550;
    font-size: 18px;
    margin-bottom: 15px;
}

.selected-single{
    background-color: rgb(146, 240, 188);
    width: 100% !important;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
    
}

mat-radio-button{
    padding-left: 8px;
    padding-right: 12px;
}

.selected{
    background-color: rgb(146, 240, 188);
    border-radius: 3px;
    margin-right: 12px;
    margin: 12px 0;
}

.selected_incorrect-single{
    background-color: firebrick;
    color: white;
    width: 100% !important;
    padding: 8px;
    border-radius: 3px; 
}

.selected_incorrect{
    background-color: firebrick;
    color: white;
    width: 100% !important;
    border-radius: 3px; 
}


.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
    right: 8px;
    top:5px;
    padding: 5px;
    border-radius: 2px;
    background-color: dodgerblue;
    color: white;
    font-weight: 550;

}

.content-editor{
    width:100% !important;
    margin-bottom: 30px;
    margin-top: 30px;
}

.adjus-score{
    margin-top: 50px;
}

.adjus-score h3{
    text-align: center;
}

.student{
   text-align: center; 
   font-size: 13px;
}

input[type='file'] {
    width: 200px;
    height: 50px;
    overflow: hidden;
    opacity: 1;
  }

.gps-wrapper{
    padding-top: 3rem;
}

.gps-coordinates{
    display: flex;

    .right, .left{
        width: 50%;

    }

    .right{
        margin-left: 1rem;
    }
    .left{
        margin-right: 1rem;
    }
}

.error-message{
    color: firebrick;
}