<div class="wrapper">
  <vn-banner></vn-banner>
  <vn-section [sectionTitle]="'ÉMISSIONS RÉCENTES'" [customStyle]="lasteShowStyle"
    ><vn-latest-shows></vn-latest-shows
  ></vn-section>
  <vn-section [sectionTitle]="'Blogs RÉCENTES'" [customStyle]="blogsStyleClass"
    ><vn-trending-blogs></vn-trending-blogs
  ></vn-section>
  <vn-section [sectionTitle]="'A propos'" [customStyle]="lasteShowStyle"
    ><vn-about-landing></vn-about-landing
  ></vn-section>
  <vn-section
    [customStyle]="mediaStyleClass"
    ><vn-media></vn-media
  ></vn-section>
  <vn-section [sectionTitle]="'Entrepreneuriat'" [customStyle]="lasteShowStyle"
    ><vn-busineses></vn-busineses
  ></vn-section>
  <!--<vn-section [sectionTitle]="'Les gens parlent de nous'" [customStyle]="blogsStyleClass"
    ><vn-testimonials></vn-testimonials
  ></vn-section>-->
</div>
