<div class="wrapper">
    <vn-img-carousal [images]="images" heightRem="50" [autoSlide]="true" [controls]="false"></vn-img-carousal>
    <div class="container">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Platinum Production</span>
            <span class="heading-primary--sub">Une autre façon de vivre ses émotions!</span>
        </h1>
        <button class="btn btn--accent btn-book-room">
            Devenir un membre
        </button>
    </div>
</div>

