@import "../../../settings/sass/abstracts/variables";
@import "../../../settings/sass/abstracts/mixins";

.container{

    @include respond(tab-land){
        width: 95%;
    }
}


.articles{
    display: flex;
    padding: 6rem 0;


    .article-list{
        margin-right: 2rem;
        width: 75%;

        @include respond(tab-port){
            margin-right: 0rem;
            width: 100%;
        }
    }

    .article-categories{
        width: 25%;
        @include respond(tab-port){
            display: none;
        }
    }

}