<mat-tab-group animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">folder_shared</mat-icon>
        General
      </ng-template>
      <app-forms></app-forms>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">inbox_customize</mat-icon>
        Email and Username
      </ng-template>
      <app-account-idenfifications-forms></app-account-idenfifications-forms>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">lock_reset</mat-icon>
        Password
      </ng-template>
  
      <app-account-password-forms></app-account-password-forms>
    </mat-tab>
    <!--<mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">settings_accessibility</mat-icon>
          Preferences
        </ng-template>
    
        Preferences
      </mat-tab>-->
  </mat-tab-group>