<div class="wrapper">
    <vn-img-carousal [images]="images" heightRem="50" [autoSlide]="true" [controls]="false"></vn-img-carousal>
    <div class="banner__box">
        <div class="banner__box-left">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Le Recul Hotel</span>
                <span class="heading-primary--sub">YON TI KOTE APA!</span>
            </h1>
            <button class="btn btn--accent btn-book-room">
                Réserver une chambre
            </button>
        </div>
        <div class="banner__box-right">
            <div>
                Forfaits speciaux
            </div>
            <div>
                Nos activites
            </div>
            <div>
                Nos points forts
            </div>
        </div>
    </div>


</div>


