<div class="wrapper">
    <vn-img-carousal [images]="sliderImages" 
    heightRem="50" 
    [autoSlide]="true" 
    [slideInterval]="8000"
    [controls]="false"></vn-img-carousal>
    <div class="banner__box">
        <div class="banner__box-left">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Le Recul Hotel</span>
                <span class="heading-primary--sub">YON TI KOTE APA!</span>
            </h1>
            <button class="btn btn--accent btn-book-room" (click)="onMakeReservation('section-book')">
                Réserver
            </button>
        </div>
        <div class="banner__box-right">
            <div>
                <vn-flash-slide [images]="images" [slideTitle]="'Nos activités'"></vn-flash-slide>
            </div>
            <div>
                <vn-flash-slide [images]="imagesPointForm" [slideTitle]="'Nos points forts'"></vn-flash-slide>
            </div>
        </div>
    </div>


</div>


