<div class="wrapper">
    <vn-img-carousal [images]="sliderImages" 
    heightRem="50" 
    [autoSlide]="true" 
    [slideInterval]="8000"
    [controls]="false"></vn-img-carousal>
    <div class="banner__box">
        <div class="banner__box-left">
            <h1 class="heading-primary">
                <span class="heading-primary--main">{{banner_content? banner_content.title : 'Le Recul Hotel'}}</span>
                <span class="heading-primary--sub slogan">{{ banner_content? banner_content.slogan : 'YON TI KOTE APA!'}}</span>
            </h1>
            <button class="btn btn--accent btn-book-room" (click)="onMakeReservation('section-book')" i18n>
                Book &darr;
            </button>
        </div>
        <div class="banner__box-right">
            <div *ngIf="images && images.length">
                <vn-flash-slide [images]="images" [slideTitle]="activitiyTitle"></vn-flash-slide>
            </div>
            <div *ngIf="imagesPointForm && imagesPointForm.length">
                <vn-flash-slide [images]="imagesPointForm" [slideTitle]="strengthTitle"></vn-flash-slide>
            </div>
        </div>
    </div>


</div>


