<mat-nav-list>
  <div class="sidenav__logo-box">

  <img
    class="main-logo hotel-logo"
    (click)="onNavigateHome('/')"
    src="assets/logo/lerecul-hotel.png"
  />
  </div>

  <a
    routerLink="/gallery"
    (click)="onCloseSideNav()"
    class="nav-link"
    mat-list-item
  >
    <mat-icon>hotel</mat-icon>
    <span class="nav-caption" i18n>Gallery</span>
  </a>

  <div class="u-divider"></div>

  <a
    routerLink="/admin"
    (click)="onCloseSideNav()"
    class="nav-link"
    mat-list-item
  >
    <mat-icon>admin_panel_settings</mat-icon>
    <span class="nav-caption" i18n>Admin</span>
  </a>

  <div class="u-divider"></div>


  <a (click)="onMakeReservation()" class="signup-link" mat-list-item>
    <span class="nav-caption" i18n>Book</span>
  </a>
</mat-nav-list>
