

  
<div class="footer">
    <div class="footer__logo-box">
        <img src="assets/logo/lerecul-hotel.png" alt="Le recul transparent logo" class="footer-logo">
    </div>
    <div class="footer__box">
        <div class="row">
            <div class="col-1-of-2">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a routerLink="/" class="footer__link">Accueil</a></li>
                        <li class="footer__item"><a routerLink="/rooms" class="footer__link">Chambres</a></li>
                        <li class="footer__item"><a (click)="onNavigateTo('section-book', '/')" class="footer__link">Réserver</a></li>
                        <li class="footer__item"><a routerLink="/gallery" class="footer__link">Gallerie</a></li>
                        <li class="footer__item"><a (click)="onNavigateTo('contact', '/')" class="footer__link">Contactez-nous</a></li>
                        <li class="footer__item"><a (click)="onNavigateTo('social-links', '/')" class="footer__link">Suivez-nous</a></li>
                        <li class="footer__item"><a href="javascript:void(0)" class="footer__link">Confidentialité</a></li>
                    </ul>
                </div>
            </div>

            <!--<div class="col-1-of-3">
                <h3 class="heading-tertiary color-primary">Valery Numa</h3> 
                <p class="paragraph">
                    Valéry Numa est journaliste et entrepreneur touristique Haitien. <a class="btn-text">Lire plus &rarr;</a>
                  </p>
            </div>-->
                        
            <div class="col-1-of-2">
                <h3 class="heading-tertiary text-accent">S'abonner</h3> 
                <p class="paragraph">Abonnez-vous pour les derniers infos.</p>
                <vn-signup-form></vn-signup-form>
                
            </div>

        </div>
        <div class="u-divider"></div>

        <div class="u-center-text">
            <p class="footer-rights">
                &copy; {{y}} &middot; Le Recul Hotel &middot; Tous droits reservés.
            </p>
            <span class="spacer"></span>
            <p class="footer-rights builder">Proudly built by <a href="https://twitter.com/wicel89" target="blank" class="footer__link">@wicel89</a></p>
        </div>

    </div>
</div>