<div class="about-box">
  <img src="assets/images/valery-swag.png" alt="">
  <div class="content">
    <p class="paragraph">
      Valéry Numa est né le 4 juillet 1974 à Camp-Perrin, commune de l'arrondissement des Cayes dans le sud du pays. Après ses études secondaires au Nouveau Collège Bird à Port-au-Prince, il a étudié la communication sociale à la Faculté des Sciences Humaines de l'Université d'Etat d'Haïti, niveau licence (1994-1998). <a class="btn-text">Lire plus &rarr;</a>
    </p>
    </div>
</div>