@import "../../../../settings/sass/abstracts/variables";

mat-card {
    background-color: rgba($color-section-bg-dark, 0.85);
    color: $color-white;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .15) !important;
    transition:  transform .3s ease-in;
    padding: 0;
    padding-bottom: 1.5rem;
    border-radius: 0;


    &:hover{
      box-shadow: 0 1.5rem 3rem rgba($color-black, .3) !important;
      transform: translateY(-.5rem);
    }


  .img {
    border-radius: 0;
    height: 25rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mat-card-content{
    height: 10rem;
    max-height: 10rem;
    overflow-y: hidden;
    padding: 1.5rem;
    font-size: 1.6rem;
      
    &:hover{
        overflow-y: auto;
    }
  }
  .show-title {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    border-radius: 6px;
    padding: 0.3rem 1.9rem;
    color: $color-white;
    width: min(23rem, 90%);
    background-color: rgba($color-black, 0.7);
    line-height: 2.3rem;
    font-size: 1.9rem;

    mat-icon {
      transform: translateY(0.5rem);
    }
  }

  .show-platform {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    svg {
      width: 5rem;
    }
  }

  mat-card-actions {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem;
  }

  .block-button {
    display: flex;
    align-items: center;
    justify-content: space-between;



    button {

      mat-icon {
        margin-right: 0.3rem;
      }
    }
  }

  .date-wrapper {
    cursor: alias;
    font-size: 1.9rem;
    color: $color-accent;

    mat-icon {
      transform: translateY(0.5rem);
      margin-right: 0.3rem;
    }
  }
}
