.card-figure{
    width: 75%;
    margin: 0 auto;
    background-color: transparent;
    border-radius: .3rem;
    padding: 6rem 0;
    font-size: $default-font-size;
    text-align: center;
   
    &__shape{
        width: 15rem;
        height: 15rem;
        margin-top: -2rem;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside:circle(50% at 50% 50%);
        clip-path:circle(50% at 50% 50%);
        -webkit-clip-path:circle(50% at 50% 50%);
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    &__image{
        height: 100%;
        transform: translateX(1rem) scale(1.4);
        backface-visibility: hidden;
        transition: all 0.5s;
    }

    &__caption{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color:$color-white;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image{
        transform: translateX(1rem) scale(1.2);
        filter: blur(.3rem) brightness(80%);
    }
}