@import "../../../../settings/sass/abstracts/variables";
@import "../../../../settings/sass/abstracts/mixins";

.wrapper{
    padding: 6rem 0;
    background-color: $color-section-bg;
    
    .heading-secondary{
        color: $color-white;
    }
}

.heading-fifth{
    text-align: left;
}


.container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    //background-color: blue;

    @include respond(tab-land){
       // background-color: red; 
        width: 100vw;
    }

    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 15rem;
        object-fit: cover;
        margin: 0 auto;


    }

    .service-card{
        background-color: rgba($color-black, .1);
        margin: 0 2rem;
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .age{
            position: absolute;
            top: 1rem;
            right: 0;
            background-color: rgba($color: #ffffff, $alpha: .6);
            padding: .09rem 1.7rem;
            font-size: 1.4rem;
            border-left: .2rem solid rgba($color-white, .9);
            color: rgba($color: #000000, $alpha: .85)
        }

        .service-title{
            position: absolute;
            color: $color-white;
            left: 0;
            bottom: 0;
            margin-bottom: 1rem;
            background-color: rgba(0, 0, 0, 0.7);
            padding: .4rem 1rem;
            border-radius: .3rem;
            margin-left: .5rem;

            mat-icon{
                transform: translateY(.5rem);
            }
        }
    }

    .paragraph{
        padding: 0 2rem;
        text-align: left;
        overflow: hidden;
        height: 13rem;
        font-size: 1.6rem;
        margin-top: 2rem;

        &:hover{
            overflow-y: auto;
        }
    }


}

