<div class="wrapper">
    <div class="loging-card">
        <div class="u-center-text u-margin-small-bottom-small">
            <h2 class="heading-secondary">New password</h2>
        </div>
            <form class="login-form" [formGroup]="form"
            (ngSubmit)="onSubmit()">

            <mat-form-field class="full-width">
                <mat-label>Password confirm</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password"
                       >
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('password')!.invalid">
                Please your new password.
            </mat-error>

              </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Password confirm</mat-label>
                <input [type]="hide1 ? 'password' : 'text'" matInput formControlName="password_confirm"
                       >
                <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('password_confirm')!.invalid">
                Please confirm your password by retyping it.
            </mat-error>

              </mat-form-field>

            <div class="action">
            <button type="submit" mat-raised-button color="primary" class="login-btn" 
            [disabled]="form.invalid || !tokeIsvalid">Submit</button>
            </div>

            </form>
        </div>
</div>


