@import '../../../settings/sass/abstracts/variables';
@import '../../../settings/sass/abstracts/mixins';

.timer{
    p{
        display: flex;
        font-weight: 550;
    }
    #timer{
        color: white;
        letter-spacing: .2rem;
        font-weight: 550;
        background-color: $color-section-bg-dark;
        padding: .3rem;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.5rem;
        mat-con{
            font-size: 1.5rem;
        }
    }

    .front-text{
        color: white;
        margin-right: .6rem;
        
        @include respond(phone){
            display: none;
        }
    }
}




