@import '../../../../settings/sass/abstracts/mixins';
@import '../../../../settings/sass/abstracts/variables';


.wrapper{
    background: rgba($color-accent, .1);
    padding: 4rem 0;

    .heading-tertiary{
        font-size: 2.5rem;
    }

    .social-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-links{
            display: flex;
            flex-direction: column;
            align-items: center;

            .links{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}

.paragraph{
    font-size: 1.9rem;
}

.text-grey{
    color: $color-grey-dark-1;
}