<div class="card">
    <div class="card-head">
      <vn-loading-skeleton Cwidth="100" Cheight="100" [circle]="true"></vn-loading-skeleton>
      <div class="info">
        <vn-loading-skeleton Cwidth="100"></vn-loading-skeleton>
        <vn-loading-skeleton Cwidth="150"></vn-loading-skeleton>
      </div>
    </div>
    <div class="card-body">
      <vn-loading-skeleton Cwidth="100"></vn-loading-skeleton>
      <vn-loading-skeleton Cwidth="270" Cheight="70"></vn-loading-skeleton>
      <vn-loading-skeleton Cwidth="270" Cheight="300"></vn-loading-skeleton>
    </div>
</div>