<div class="wrapper">
    <div class="loging-card">
        <div class="u-center-text u-margin-small-bottom-small">
            <h2 class="heading-secondary">Reset password</h2>
        </div>
            <form class="login-form" [formGroup]="form"
            (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email"
                        placeholder="Ex. wisnercel@example.com">
                <mat-hint>Please enter your email!</mat-hint>
                <mat-error *ngIf="form.get('email')!.invalid">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>


                  <div class="action">
                    <button type="submit" mat-raised-button color="primary" class="login-btn" 
                    [disabled]="form.invalid">Submit</button>
                  </div>

            </form>
        </div>
</div>


