
<div class="wrapper">
        <div class="u-center-text u-margin-bottom-medium">
            <h3 class="heading-tertiary">La politique de Boyer</h3>
        </div>
    
        <div class="content">
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam in suscipit vitae maiores ea officiis iste ipsum provident. Natus facere molestiae obcaecati omnis qui ex, illum molestias ab incidunt.</p>
        
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam in suscipit vitae maiores ea officiis iste ipsum provident. Natus facere molestiae obcaecati omnis qui ex, illum molestias ab incidunt.</p>
    
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam in suscipit vitae maiores ea officiis iste ipsum provident. Natus facere molestiae obcaecati omnis qui ex, illum molestias ab incidunt.</p>
    
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam in suscipit vitae maiores ea officiis iste ipsum provident. Natus facere molestiae obcaecati omnis qui ex, illum molestias ab incidunt.</p>
    
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam in suscipit vitae maiores ea officiis iste ipsum provident. Natus facere molestiae obcaecati omnis qui ex, illum molestias ab incidunt.</p>
    
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam in suscipit vitae maiores ea officiis iste ipsum provident. Natus facere molestiae obcaecati omnis qui ex, illum molestias ab incidunt.</p>
    
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam in suscipit vitae maiores ea officiis iste ipsum provident. Natus facere molestiae obcaecati omnis qui ex, illum molestias ab incidunt.</p>
    </div>
    
</div>