    <section class="section-book" id="section-book">
        <div class="row">
            <div class="book">
                <div class="book__form">
                    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                        <div class="u-margin-bottom-medium">
                            <h2 class="heading-secondary" i18n>
                                Book a room
                            </h2>
                        </div>

                        <div class="form__group">
                            <mat-form-field class="full-width" color="accent" appearance="outline">
                                <mat-label i18n>Name</mat-label>
                                <input type="text" matInput placeholder="John Doe" formControlName="fullname" required>
                            </mat-form-field>
                        </div>


                        <div class="form__group">
                            <mat-form-field class="full-width" color="accent" appearance="outline">
                                <mat-label i18n>Email</mat-label>
                                <input type="email" matInput formControlName="email" placeholder="someuser@dom.ext" required>
                            </mat-form-field>
                        </div>

                        <div class="form__group">
                            <mat-form-field class="full-width" color="accent" appearance="outline">
                                <mat-label i18n>Phone</mat-label>
                                <input type="text" formControlName="phone" matInput placeholder="Ex: +5093350660" required>
                            </mat-form-field>
                        </div>

                        <div class="form__group">
                        <mat-form-field class="example-form-field" appearance="outline">
                            <mat-label i18n>Arrival - Departure</mat-label>
                            <mat-date-range-input
                              [rangePicker]="bookingDateRangePicker"
                              [min]="today"
                              [comparisonStart]="form.value.start_on"
                              [comparisonEnd]="form.value.end_on">
                              <input matStartDate placeholder="Date d'arrivée" formControlName="start_on">
                              <input matEndDate placeholder="Date de départ" formControlName="end_on">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="bookingDateRangePicker"></mat-datepicker-toggle>
                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                            <mat-date-range-picker #bookingDateRangePicker></mat-date-range-picker>
                          </mat-form-field>
                        </div>

                        <!--<div class="form__group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label>Date d'arrivée</mat-label>
                                <input class="picker" matInput [matDatepicker]="picker1" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="form__group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label>Date de départ</mat-label>
                                <input matInput class="picker" [matDatepicker]="picker2" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>-->

                        <div class="form__group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label i18n>Select a room type</mat-label>
                                <mat-select formControlName="room" required>
                                  <mat-option *ngFor="let room of rooms" [value]="room.id">
                                    {{room.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>

                        <div class="form__group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label i18n># de people</mat-label>
                                    <mat-select formControlName="n_roomates" required>
                                      <mat-option *ngFor="let mate of roomates" [value]="mate.n">
                                        {{mate.name}}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>
                        </div>

                        <div class="form__group">
                            <button type="submit" class="btn btn--accent" i18n>Book &rarr;</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
