@import "../../../settings//sass/abstracts/variables";
@import "../../../settings/sass/abstracts/mixins";

.toolbar{
    overflow: hidden;
    color:inherit;
    display: flex;
    background: rgba($color-section-bg-dark, 0.95);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    width: 100%;
    top:0;
    left:0;
    height: 6rem;
    box-shadow: 0.5rem 0rem 0.5rem 0rem rgba($color-black, 0.15);

    .site-logo{
        display: block;
        cursor: pointer;
        @include respond(phone){
            display: none;
        }
    }

    @include respond(tab-port){
        padding-left: 2rem;
        padding-right: 2rem; 
    }

    .nav-brand{
        display: flex;
        align-items: center;

        &__btn-nav-close{
            display: none;
            background-color: transparent;
            border: none;
            @include respond(tab-port){
                display: block;
                color:$color-white;
            }
        }

        &__logo{
            width: 6rem;
            height: 100%;
            border-radius: 29rem;
            box-shadow: 0 .5rem 4rem rgba($color-black, .15);
            cursor: pointer;
            object-fit: cover;
        }

    }

    .nav-actions{
        display: flex;
        justify-content: flex-end;
        align-items: center;


        .btn-small{
            transform: translateY(.5rem);
            display: none;
            @include respond(tab-port){
                display: inline-block;
            }
        }
        .btn{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: 700;
            height: 4.5rem;
            font-size: 1.5rem;

            fa-icon{
                margin-right: .6rem;
                font-size: 2rem;
            }
            &:not(:last-child){
                margin-right: 4rem; 
            }
        }

        .anchor{
            text-transform: uppercase;
            font-weight: 700;
            transform: translateY(-.3rem);
            &:not(:last-child){
                margin-right: 4rem; 
            } 

            @include respond(phone){
                font-weight: 550;
                font-size: 1.5rem;
            }
        }
    }

}

.banner-brand{
    color: $color-white;
    font-size: 3.5rem;
    cursor: pointer;
    transition: .5s;

    &:hover{
        transform: skewX(-2deg) translateY(-1rem);
    }
}


.btn{
    @include respond(tab-port){
        display: none;
    }
}

.toggle-menu{
    margin-right: 1rem;
}

.logo{
    //height: 6.8rem;
    width: 8rem;
    margin-top: .8rem;
    object-fit: cover;
    
    @include respond(phone){
        height: 5.5rem;
        margin-top: 1rem; 
    }
}

.nav-link{
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1.7rem;

    &:link,
    &:visited{
        color:$color-white;
    }


    .hide-tab-port{
        
        @include respond(tab-port){
            display: none;
        }
    }

    fa-icon{
        font-size: 1.9rem;
        @include respond(tab-port){
            font-size: 2.8rem;
        }
    }

}

.nav-actions .noti-link{
    @include respond(phone){
        margin-right: 0rem;
    }
}

.nav-actions .noti-link mat-icon{
    transform: translateY(-.3rem) !important;

}

.account-menu{
    width: 100% !important;
    @include respond(tab-port){
        width: 100%;
    }
}

.anchor{
    cursor: pointer;
}

.btn-small{
    display: none;
    @include respond(tab-port){
        display: block;
    }
}

.btn-user{
    padding: 0.3rem 2rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    color:$color-grey-dark-3;
    font-size: $default-font-size;

    @include respond(tab-port){
        display: none;
    }

    &:focus{
        outline: none;
    }
}

.fa-user{
    color: $color-grey-dark-1;
}

.notification-list{
    overflow-y: auto;
    max-height: 55vh;
}

.menu-gb-actions{
    padding-left:2rem;
    padding-right:2rem;
    padding-top:2rem;
    text-align: right;
}

.notification-icon{
    color:$color-primary;
}

.review-link{
    color:$color-grey-dark-1;
}

.date-ago{
    color:rgba($color-grey-dark-3, .7);
}

/*:host ::ng-deep .mat-snack-bar-container{
    background-color: $color-primary;
    color:$color-white;
}*/

.not_read_yet{
   background-color: $color-grey-light-2;
   margin-bottom: 0.1rem;
}

.is_read{
    background-color: $color-white;
    margin-bottom: 0.1rem;
 }

 .list-link{
     color: $color-grey-dark-1;
     text-decoration: none;
     text-transform: uppercase;
     width: 100%;
     cursor: pointer;
     padding-right: .5rem;
     padding-left: .5rem;
     padding-top: .3rem;
     padding-bottom: .3rem;
     color:$color-primary;
 }


 .list-link:hover{
    background-color: rgba($color-grey-dark-3, .05);
}

.toolbar-first{
    background-color: $color-white !important;
    background-image: none !important;
    padding-top: 0.7rem;
}

.anchor{
    color: $color-white;
}

.avatar-holder{
    display: flex;
    align-items: center;

}

.user-avatar{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: .5rem;
}

.active{
    background-color: $color-white;
    color: $color-primary !important;
    padding: 0 .8rem;
    border-radius: .5rem;
}