<div class="spacial-packages" *ngIf="!offerClosed && !isAdminPath(['admin'])">
  <vn-spacial-packages (closeSpacialPackage)="onCloseSpecialOffer($event)"></vn-spacial-packages>
</div>

<mat-toolbar class="toolbar-nav">
  <div class="nav-brand">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="onToggleSideNave()"
      class="nav-brand__btn-nav-close"
      >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a class="site-logo" routerLink="/"><img src="assets/logo/lerecul-hotel.png" alt="logo-transparent" class="logo"></a>
  </div>

  <div class="nav-actions">
    <a class="nav-link" >
      <div class="custom-select">
      <label>
        <span i18n>Language</span>
        <select #langSelect (change)="onChangeLang(langSelect.value)">
          <option *ngFor="let lang of languages" [value]="lang.code" [selected]="lang.code === appService.lang">{{ lang.label }}</option>
        </select>
      </label>
      </div>
    </a>

    <a routerLink="/rooms" class="nav-link"><fa-icon [icon]="faBed"></fa-icon> <span class="hide-tab-port" i18n> Rooms</span></a>
    <a routerLink="/gallery" class="nav-link"><fa-icon [icon]="faImages"></fa-icon> <span class="hide-tab-port" i18n> Gallery</span></a>
      <a *ngIf="isAuthenticated" routerLink="/admin" class="nav-link"><fa-icon [icon]=" faUserShield"></fa-icon> <span class="hide-tab-port" i18n> Admin</span></a>
      <a *ngIf="isAuthenticated" [matMenuTriggerFor]="menu2" class="nav-link">
        <span class="avatar-holder">
          <img class="user-avatar" [src]="getCompleteUrl(userProfile?.avatar!)" >
          <span class="hide-tab-port"> {{userProfile?.user?.name}}</span>
        </span>
        <mat-menu #menu2="matMenu">
          <app-user-menu *ngIf="userProfile" [loginUser]="userProfile" (userLogout)="onLogout()"></app-user-menu>       
      </mat-menu>
    </a>

    <a *ngIf="!isAuthenticated" (click)="onMakeReservation('section-book')" class="btn btn--white reserve-btn"> <span i18n> BOOK</span> 
    </a>

  </div>
</mat-toolbar>