<div class="spacial-packages" *ngIf="!offerClosed && !isAdminPath(['admin'])">
  <vn-spacial-packages (closeSpacialPackage)="onCloseSpecialOffer($event)"></vn-spacial-packages>
</div>

<mat-toolbar class="toolbar">
  <div class="nav-brand">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="onToggleSideNave()"
      class="nav-brand__btn-nav-close"
      >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a class="site-logo" routerLink="/"><img src="assets/logo/lerecul-hotel.png" alt="logo-transparent" class="logo"></a>
  </div>

  <div class="nav-actions">
    <a routerLink="/gallery" class="nav-link"><fa-icon [icon]="faBuilding"></fa-icon> <span class="hide-tab-port"> Gallery</span></a>
      <a *ngIf="isAuthenticated" routerLink="/admin" class="nav-link"><fa-icon [icon]="faBuilding"></fa-icon> <span class="hide-tab-port"> Admin</span></a>
      <a *ngIf="isAuthenticated" [matMenuTriggerFor]="menu2" class="nav-link">
        <span class="avatar-holder">
          <img class="user-avatar" [src]="getCompleteUrl(userProfile.avatar!)" >
          <span class="hide-tab-port"> {{userProfile?.user?.name}}</span>
        </span>
        <mat-menu #menu2="matMenu">
          <app-user-menu *ngIf="userProfile" [loginUser]="userProfile" (userLogout)="onLogout()"></app-user-menu>       
      </mat-menu>
    </a>

    <a *ngIf="!isAuthenticated" (click)="onNavigate('/auth')" class="btn btn--white"><fa-icon [icon]="faUser"></fa-icon> <span> Login</span> 
    </a>

  </div>
</mat-toolbar>