@import '../../../../settings/sass/abstracts/variables';


mat-card{
    //background-color: rgba($color-black, 0.85);
    position: relative;
    border-radius: 0;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .15) !important;
    transition:  transform .3s ease-in;
    padding-top: 3rem;

    &:hover{
        box-shadow: 0 1.5rem 3rem rgba($color-black, .3) !important;
        transform: translateY(-.5rem);
      }


    //color: $color-white;

    .img{
        height: 25rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    .mat-card-content{
        height: 10rem;
        max-height: 10rem;
        overflow-y: hidden;
        font-size: 1.6rem;
          
        &:hover{
            overflow-y: auto;
        }
      }

    mat-card-header{
        border-radius: .8rem .8rem 0 0;
        background-color: $color-white;
        left: 0;
        position: absolute;
        top: 0;
        width: 100% !important;
        height: auto;
        cursor: pointer;

        mat-card-title{
            color: $color-grey-dark-3;
            line-height: 2rem;
            font-size: 1.6rem;
            padding-top: 1rem;
        }

        mat-card-subtitle{
            padding-top: 0;
        }

        mat-icon{
            transform: translateY(.6rem);
        }
    }

    mat-card-actions{
        padding-left: .5rem;
        display: flex;
    
        button{
            color: $color-grey-dark-2;
            &:not(:last-child){
                margin-right: 2rem;
            }
            
        }
        img{
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid  $color-grey-dark-2;
            transform: translateY(-0.3rem);
            cursor: pointer;
        }
    
        .publisher-detail{
            line-height: 1.7rem;
    
            .heading-fourth{
                font-size: 1.5rem;
                color: rgba($color-grey-dark-3, 0.85);
                cursor: pointer;
            }
    
            h5{
                font-size: 1.2rem;
                color: rgba($color-grey-dark-3, 0.7);
            }
    
            margin-left: 1rem;
        }
    }
}

