.home{
    width: calc(100% - 6rem);
    height: 100vh;
    //margin-top: 6.75rem;
    margin-left: 6rem;
    z-index: 0;
    position: relative;
    transition: all 0.5s ease;
    background: #f4f7f3;
    padding: 2rem 3rem 3rem 3rem;
  }
  
  .home-trimed{
    width: calc(100% - 24rem);
    margin-left: 24rem;
  }
  
  .home-md-screen{
    width: calc(100% - 6rem);
    margin-left: 6rem;
  }