<div class="wrapper">
  <br>
    <div class="container">
        <section class="my-card" *ngFor="let room of rooms">
          <img src="{{getCompleteUrl(room.featured_image)}}" i18n-alt alt="room image" />
          <div>
            <h3>{{room.name}}</h3>
            <p [innerHTML]="truncateHTML(room.description, 120)">
            </p>

            <div class="room-services-icon">
                <mat-icon *ngFor="let service of room.services" title="{{service.caption}}">{{service.material_icon_code}}</mat-icon>
              </div>
            <a routerLink="/rooms/{{room._id}}/details" class="btn btn--accent" i18n>Select</a>
          </div>
        </section>

    </div>
</div>
<ng-container *ngIf="displayFooter">
  <vn-footer></vn-footer>
</ng-container>

