<section class="section-stories">
    <div class="wrapper">
      <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
          <source src="assets/bg-video/video.mp4" type="video/mp4" />
          <source src="assets/bg-video/video.webm" type="video/webm" />
          Your browser is not supported!
        </video>
      </div>
      <div class="age">12+</div>
      
      <div class="container">
  
        <header class="block block--1">
            <div class="trailer-title">
                <h5 class="heading-fifth">Comming soon</h5>
                
                <h2 class="heading-segondary">Bye bye Papa</h2>
            </div>

          <div class="movie-detail">
              
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            ipsum sapiente aspernatur libero repellat quis consequatur ducimus
            quam nisi exercitationem omnis earum qui.
          </p>
          <a routerLink="/hotel/gallery" class="btn-text--accent">Lire plus &rarr;</a>
          </div>

         
        </header>
  
        <div class="block block--2">

          <div class="featuring">
            <div class="u-margin-bottom-small">
                <div class="heading-fourth">Featuring</div>
            </div>
           
          <ul>
            <li>Valery Numa</li>
            <li>Daly Valet</li>
            <li>Rigolo</li>
          </ul>
        </div>
          <div class="engage">
            <button mat-icon-button class="icon-button" aria-label="icon-button">
              <mat-icon>play_arrow</mat-icon><span>Play trailer</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
                <div>
            <a routerLink="/hotel/gallery" class="btn btn--accent"
              >Ticket</a
            >
          </div>
  -->