@import "../../../../settings/sass/abstracts/variables";
@import "../../../../settings/sass/abstracts/mixins";


.wrapper{
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;


  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-grow:inherit;
    
    justify-content: space-around;

    @include respond(tab-land){
      width: 95%;
    }

    @include respond(tab-port){
      flex-direction: column;
      justify-content: center;
    }
  
    @include respond(tab-port){
      justify-content: center;
    }
  }



  .my-card{
      width: min(32rem, 95%);
      margin-bottom: 4rem;

      @include respond(tab-port){
        width: min(40rem, 95%);
      }
  }

}

