<section class="wrapper">
    <section class="container-fluid">
        <!--<p class="waring">The page is not yet ready. Please be patient!</p>-->
        <div class="fields-wraper">
        <div class="center">
            <ngx-file-drop [multiple]="multiple" (onFileDrop)="dropped($event)"
                [accept]="accept"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <button mat-button class="pic-file" type="button" (click)="openFileSelector()">
                        {{ 'Add images'}}
                    </button>
                    <!--{{ 'Drag and drop files' }}-->
                </ng-template>
            </ngx-file-drop>
            <br>

            <!--<div class="live-file-selected">
                <mat-list class="file-list-wrapper">
                  <div mat-subheader>{{imagesBlobed.length +  ' images selected'}}</div>
                  <mat-list-item *ngFor="let file of imagesBlobed; let last = last;">
                      <mat-icon mat-list-icon>note</mat-icon>
                      <div mat-line title="Click to view it in a new tab." class="doc_head filename" (click)="debugBase64(file.dataUrl)">{{file.name}}</div>
                      <mat-icon class="file-icon" (click)="deleteFileLocally(file.name)">delete</mat-icon>
                  </mat-list-item>
                </mat-list>
            </div>-->
            <mat-list class="file-list-wrapper" *ngIf="recordImages.length">
                <div mat-subheader>{{'image path from server'}}</div>
                <div class="images">
                  <div class="image" *ngFor="let image of recordImages">
                    <mat-icon class="file-icon" (click)="openDialog(image._id)">delete</mat-icon>
                    <img [src]="getCompleteUrl(image.image)" title="Click to view it in a new tab." class="image-selected" (click)="ondownloadFile(getCompleteUrl(image.image))">
                  </div>
                </div>
              </mat-list>

            <div class="live-file-selected" *ngIf="imagesBlobed.length">
                <div mat-subheader>{{imagesBlobed.length +  ' images selected'}}</div>
                <div class="images">
                  <div class="image" *ngFor="let file of imagesBlobed; let last = last;">
                    <mat-icon class="file-icon" (click)="deleteFileLocally(file.name)">delete</mat-icon>
                    <img [src]="file.dataUrl" class="image-selected" title="Click to view it in a new tab." (click)="debugBase64(file.url)">
                  </div>
                </div>
            </div>

            <div class="actions">
                <button mat-raised-button color="primary" (click)="onSaveImage()" [disabled]="!imagesBlobed.length">Save</button>
            </div>
        </div>
        </div>

    </section>
</section>
