@import "../../../settings/sass/abstracts/variables";



.container{
    overflow: hidden;
}

.my-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    background: rgba($color-section-bg, 0.1);
    margin-bottom: 3rem;
    overflow: hidden;
    height: 35rem;
  }
  
  .my-card h3 {
    margin-bottom: 2rem;
  }
  
  .my-card img {
    height: 35rem;
    width: 100%;
    object-fit: cover;
  }
  
  .my-card > div {
    padding: 2rem;
  }
  
  .my-card:nth-child(even) img {
    order: 2;
  }
  
  
  .btn {
    margin-top: 2rem;
  }
  
  /*.btn:hover {
    opacity: 0.8;
  }*/

  .room-services-icon{

    button
    
    {
      color: rgba($color-black, .5);

      mat-icon{
        margin-right: .3rem;

      }
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
  }

  
  @media(max-width:600px) {
    .my-card {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .my-card:nth-child(even) {
        flex-direction: column-reverse;
    }
      
  }
  