<div #container [ngClass]="{'p-sidebar': true,
    'p-sidebar-left': position === 'left',
    'p-sidebar-right': position === 'right',
    'p-sidebar-top': position === 'top',
    'p-sidebar-bottom': position === 'bottom'
}"
*ngIf="visible"
[@panelState]="{'value': 'visible', 'params': {'transform': transformOptions, 'transition': transitionOptions}}"
(@panelState.start)="onAnimationStart($event)"
(@panelState.done)="onAnimationDone($event)"
>
    <div class="p-sidebar-header" [ngClass]="{'sidebar-left-header': position === 'right'}">
        <h2 *ngIf="header">{{header}}</h2>
        <fa-icon class="fa-times" [icon]="faTimes" (click)="close($event)" (keydown.enter)="close($event)" *ngIf="showCloseIcon"></fa-icon>
    </div>
    <div class="p-sidebar-content">
        <ng-content></ng-content>
    </div>
</div>
