<div class="container" id="about">
  <section class="section-features">
    <div class="section-features-items">

        <div class="feature-box">
        <fa-icon class="feature-box__icon" [icon]="faMicrophone"></fa-icon>
          <h3 class="heading-tertiary u-margin-top-small u-margin-bottom-small">
            Communication
          </h3>
          <p class="feature-box__text">
            EXCEL Institut de Communication et de Journalisme.
          </p>
        </div>

        <div class="feature-box">
          <fa-icon class="feature-box__icon" [icon]="faHotel"></fa-icon>
          <h3 class="heading-tertiary u-margin-top-small u-margin-bottom-small">
            Hotelerie
          </h3>
          <p class="feature-box__text">
            Le Recul Hôtel: entreprise de promotion touristique située à Camp-Perrin.
          </p>
        </div>

        <div class="feature-box">
            <fa-icon class="feature-box__icon" [icon]="faUtensilSpoon"></fa-icon>
          <h3 class="heading-tertiary u-margin-top-small u-margin-bottom-small">
            Restauration
          </h3>
          <p class="feature-box__text">
            Le Recul Hôtel une entreprise de promotion touristique située à Camp-Perrin.
          </p>
        </div>

        <div class="feature-box">
            <fa-icon class="feature-box__icon" [icon]="faFilm"></fa-icon>
          <h3 class="heading-tertiary u-margin-top-small u-margin-bottom-small">
            Cinema
          </h3>
          <p class="feature-box__text">
            Film sur le journalisme et autre.
          </p>
        </div>
    </div>
  </section>
</div>
