<div class="wrapper">
    <div class="u-center-text u-margin-bottom-medium">
        <h2 class="heading-secondary">Nos services</h2>
    </div>
    <div class="container">

        <owl-carousel-o [options]="customOptions">
      
          <ng-container *ngFor="let slide of  images">
            <ng-template class="slide" carouselSlide [id]="slide.id">
                <div class="service-card">
                    <div class="img-container">
                        <img [src]="getCompleteUrl(slide.featured_image)" [alt]="slide.image_alt" [title]="slide.id" [title]="slide.name">
                    </div>

                    <div class="service-title">
                        <h5 class="heading-fifth"><mat-icon>{{slide.material_icon_code}}</mat-icon> {{slide.name}}</h5>
                    </div>
                    <p class="paragraph" [innerHTML]="slide.description">
                    </p>
                    
                </div>
            </ng-template>
          </ng-container>
      
        </owl-carousel-o>  
    </div>
</div>


