<section class="section-stories" id="gallery">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="assets/bg-video/video.mp4" type="video/mp4">
            <source src="assets/bg-video/video.webm" type="video/webm">
            Your browser is not supported!
        </video>
    </div>


        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                {{gallery?.title ? gallery?.title : 'Soyez inspire'}}
            </h2>
        </div>
    
        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">{{gallery?.excerpt1_title ? gallery?.excerpt1_title :  'Le Sud volera votre coeur'}}</h3>
                <p class="paragraph" [innerHTML]="gallery?.excerpt1">
                </p>
    
                <h3 class="heading-tertiary u-margin-bottom-small"> {{gallery?.excerpt2_title ? gallery?.excerpt2_title : 'Venez creer des moments dont vous souviendrez'}}</h3>
                <p class="paragraph" [innerHTML]="gallery?.excerpt2">
                </p>
    
                <a routerLink="/gallery" class="btn-text">Voir la gallerie &rarr;</a>
            </div>
    
            <div class="col-1-of-2">
                <div class="composition">
    
                    <img *ngFor="let photo of gallery?.gallery_images; let i = index;" srcset="{{ getCompleteUrl(photo.image) }} 1000w"
                         sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                         alt="Photo 1"
                         class="composition__photo composition__photo--p{{i+1}}"
                         src="{{ getCompleteUrl(photo.image) }}">

                </div>
            </div>
        </div>
</section>