.wrapper{
    background: #fff;
    padding: 6rem 0;
    .form{
        display: flex;
        flex-direction: column;

        mat-form-field{
            &:not(:last-child){
                margin-bottom: 3rem;
            }
            
        }
    }

    .contact-img-container{
        display: flex;
        align-items: center;
        justify-content: center;

        .contact-img{
            width: 100%;
            object-fit: cover;
        }
    }

    .heading-tertiary{
        font-size: 2.5rem;
    }
}