<div class="banner">
  <!--<vn-img-carousal [images]="images" heightRem="50" [autoSlide]="true" [controls]="false"></vn-img-carousal>-->
  <div class="container">
    <div class="banner__content left">
      <h1 class="heading-primary">
        Là où votre <span class="text-white"> Voix</span> fait
        <span>echo</span>
      </h1>
      <p class="paragraph paragraph-animated">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, fuga
        cum? Ad ex laudantium officiis quidem dolor odio numquam illo debitis,
        error sunt! Quisquam.
      </p>
      <div class="u-margin-top-medium">
        <button class="btn btn--primary btn-contrib">Créer votre compte</button>
      </div>
      
    </div>

    <div class="banner__content right">
      <form action="#" class="form">
        <div class="u-center-text u-margin-bottom-medium">
          <h4 class="heading-fourth">Se connecter</h4>
        </div>

        <div class="form__group u-margin-bottom-big">
          <input
            type="email"
            class="form__input"
            placeholder="Adresse E-mail"
            id="email"
            required
          />
        </div>

        <div class="form__group">
          <input
            type="password"
            class="form__input u-margin-bottom-small"
            placeholder="Saisir votre mot de passe"
            id="password"
            required
          />
          <a href="javascript:void(0)" class="anchor link-util forget-password">Mot de passe oublié?</a>
        </div>
        

        <div class="form__group u-center-text">
          <button class="btn btn--green">Se connecter &rarr;</button>
        </div>
        <br>
        <p class="paragraph">
            Pas encore membre? <a href="" class="anchor link-util">S'inscrire</a>
        </p>
      </form>
    </div>
  </div>
</div>
