<div class="wrapper">
    <div class="container">
        <div class="u-center-text u-margin-bottom-medium">
            <h2 class="heading-secondary">Evenement a venir</h2>
        </div>

        <div class="u-margin-bottom-medium">
            <p class="paragraph text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quod laboriosam sint facere ut hic veritatis nulla blanditiis corporis aperiam neque, libero quasi dignissimos facilis ad at cumque totam. Cumque!</p>

        </div>

        <div class="timer">
            <vn-count-timer [date]="date"></vn-count-timer>
        </div>
    </div>
</div>